*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121; /* Tailwind's gray-100 */
    color: #fff; /* Tailwind's gray-900 */
    font-family: 'Inter', sans-serif; /* Tailwind's default font */

    text-align: center;
    height: 100%;
    width: 100%;
}
button{
    font-weight: 700;
}